// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

body {
  background: #FCFCFC;
  overflow-y: scroll;
  min-width: 640px;
}

footer {
  border-top: 1px solid #DDD;
  margin: 50px 0 30px;
  padding-top: 10px;
  color: #999;
}

html body {
  padding-top: 100px;
}

[v-cloak] > * { display:none }
[v-cloak]::before {
  padding: 50px;
  content: "Loading...";
}

video {
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transform: scale(0.5) translate(100px, 100px);
  transition: all 500ms;
}

video:hover {
  transform: scale(1) translate(0, 100px);
}

canvas {
  position: fixed;
  top: 100px;
  pointer-events: none;
}
