
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  background: #FFF;
  font-family: 'Tahoma', sans-serif;
  margin: 0;
  padding: 1ex;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "Loading..." }

.translations {
  a {
    border-bottom: 1px dotted;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
  tr.italic {
    pre.original, textarea {
      font-style: italic;
    }
    pre.original {
      &, a {
        color: #777;
      }
    }
  }
  td {
    padding: 10px;
    position: relative;
  }

  textarea {
    width: 300px;
  }

  pre.original {
    padding: 3px;
    background: transparent;
    border: none;
  }
  textarea {
    @extend pre;
    word-break: normal;
    padding: 1ex;
    height: 75px;
  }
  textarea:not(.loading) {
    background: #FFF;
    &.approved {
      background: #e6ffdf;
    }
  }

  .btn {
    position: absolute;
    right: 10px;
    bottom: 21px;
    padding-right: 1ex;
  }

}

.navbar {
  a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      background: #49a5d8 !important;
      color: #FFF !important;
    }
  }
}

.navbar {
  border-color: silver;
  background: #f3f3f3;
}

.navbar-fixed-top {
  .navbar {
    border-radius: 0 !important;
    background: rgba(240,240,240,0.8) !important;
  }
}
